# Python bytecode
__pycache__/
*.py[cod]

# Environments
venv/
env/
.env

# Data and Models (Keep the structure, ignore the actual heavy files)
data/*.csv
models/*.pkl
models/*.json
models/*.png

# Streamlit
.streamlit/

# OS files
.DS_Store